:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.board{
  max-height: 33px;
  min-width: 33px;
}

.square{
  float: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 0px;
  height: 70px;
  padding: 0;
  text-align: center;
  width: 70px;
  margin-right: -3px;
  margin-top: -3px;
}

.status{
  margin: 5px;
}

img{
  animation: merry 2s infinite linear;
}

img:hover{
  filter: drop-shadow(0 0 10px blue);
}

@keyframes merry {
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}

button:hover{
  filter: drop-shadow(0 0 10px grey);
}

footer{
  margin-top: 12rem;
}
